<li class="col-lg-12" data-comment-id="<%= comment.id %>" style="margin-bottom: 30px; border-top:1px solid #4fcde9; border-bottom:1px solid #4fcde9; padding:20px">

  <%#= image_tag comment.user.profile_picture_url, height: 30 %>

  <span style="width:100%; text-align:left; color:#fff; float:left; margin:0 5px 0 5px">
    <strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
  </span>

  <span style="width:100%; font-size:10px; color:rgba(242, 242, 242, 0.60); text-align:left;float:left;margin:0 5px 0 5px">
    <%= l(comment.created_at, format: :short) %>
  </span>

  <br />


  <div class="row">

    <div class="col-xs-10 mb" style="">
      <span class="comment-body" style="color:#fff; float:left;  text-align: left;"><%= comment.body %></span>
    </div>

    <div class="col-xs-2 mb" style="">

      <% if comment.belongs_to?(current_user) %>

          <span style="float:left" class="btn-edit-comment btn btn-xs btn-primary" data-comment-id="<%= comment.id %>">
            <i style="margin:0" class="fa fa-pencil"></i>
          </span>

          <%= button_to comment_path(comment),
                        class: 'btn btn-xs btn-danger',
                        method: :delete,
                        data: {
                            confirm: 'O comentário será excluído. Confirmar ação?'
                        },
                        remote: true do %>
              <i style="margin:0" class="fa fa-remove"></i>

          <% end %>

      <% end %>

    </div><!--comments edit and delete buttons area -->



  </div><!--row-->

  <% if comment.belongs_to?(current_user) %>

      <%= form_for comment,
                   url: comment_path(comment),
                   method: :patch,
                   html: {
                       class: 'form-comment hidden'
                   },
                   data: {
                       comment_id: comment.id
                   },
                   remote: true do |f| %>
          <%= f.text_field :body, value: comment.body, autocomplete: 'off' %>
          <%= f.submit 'Salvar', class: 'btn btn-xs btn-success' %>
          <span class="btn btn-xs btn-warning btn-cancel-edit-comment">Cancelar</span>
      <% end %>


  <% end %>



</li>

