<h3><%= @group.name %></h3>

<%= render 'layouts/flash_success' %>
<%= render 'layouts/flash_error' %>

<% if current_user.owner_of?(@group) %>
    <%= link_to 'Editar Grupo', edit_group_path(@group), class: 'btn btn-primary' %>
<% end %>

<% if current_user.owner_of?(@group) || current_user.admin? %>
    <%= link_to 'Excluir Grupo',
                group_path(@group),
                data: {
                    confirm: 'O grupo será excluído. Deseja prosseguir?'
                },
                method: :delete,
                class: 'btn btn-danger' %>
<% end %>

<div class="join-actions">
  <%= render 'join_actions' %>
</div>

<div class="messages"></div>

<div class="private-content">
  <%= render 'private_content' %>
</div>