<h3>Amigos aasdasdasd (<%= user.friends.count %>)</h3>

<% friends = user.friends.limit(20) %>

<% if friends.any? %>

    <ul>
      <% user.friends.each do |friend| %>
          <li>
            <%= image_tag friend.profile_picture_url, height: 50 %>

            <%= link_to friend.name, user_path(friend) %>
          </li>
      <% end %>
    </ul>

    <div>
      <%= link_to 'Ver todos', friends_user_path(user) %>
    </div>

<% else %>

    <%= render partial: 'layouts/none', locals: {message: 'Nenhum amigo'} %>

<% end %>