<h1>Editar Perfil</h1>

<%= form_for @user, url: {action: :update, method: :patch} do |f| %>

    <div class="well well-sm none">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class:'form-control', id:'edit_bar' %>
    </div>

    <div class="well well-sm none">
      <%= f.label :email %>
      <%= f.email_field :email, required: true, class:'form-control', id:'edit_bar'  %>
    </div>

    <div class="well well-sm none">
      <%= f.label :profile_picture %>
      <%= f.file_field :profile_picture %>
      <p>
        <%= image_tag @user.profile_picture, height: 100 if @user.profile_picture? %>
      </p>
      <%= f.hidden_field :profile_picture_cache %>
    </div>

    <div>
      <%= f.submit 'Salvar', class:'btn btn-primary', id:'save_button'%>
    </div>

<% end %>