<h1>Olá, <%= current_user.name %></h1>

<% if  current_user.admin? %>
    <h2>Usuário administrador</h2>
<% else %>
    <h2>Perfil de usuário comum</h2>
<% end %>

<ul>
  <li><%= link_to 'Perfil', user_path(current_user) %></li>
  <li><%= link_to 'Configurações', settings_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>

<%= form_for Post.new, url: user_posts_path(current_user), remote: true do |f| %>
    <%= f.text_area :title, placeholder: 'O que você está pensando?', required: true %>
    <%= f.submit 'Publicar', class: 'btn btn-sm btn-primary' %>
<% end %>

<hr />

<h3>Publicações</h3>

<div class="messages"></div>

<div id="posts">
  <%= render 'posts' %>
</div>


