<div class="col-lg-12 main-chart">

  <%= form_for Post.new, url: user_posts_path(current_user), remote: true do |f| %>
      <%= f.text_area :title, placeholder: 'O que você está pensando?', required: true %>
      <%= f.submit 'Publicar', class: 'btn btn-sm btn-primary' %>
  <% end %>

  <%= form_for Image.new, url: '/', multipart: true, remote: true do |f| %>
      <%= file_field_tag 'image[image]', multiple: true %>
      <%= f.submit 'Valhalla' %>
  <% end %>

  <hr />

  <h3>Publicações</h3>

  <div class="messages"></div>

  <div id="posts">
    <%= render 'posts' %>
  </div>

</div>