<section class="wrapper site-min-height" style="margin-top: -10px;">


  <div class="row mt">
    <div class="col-lg-12">

      <! -- 1st ROW OF PANELS -->
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 mb">
          <!-- WHITE PANEL - TOP USER -->
          <div class="white-panel pn">
            <div class="white-header">

            </div>

            <p> <%= image_tag @user.profile_picture.url, height: 100, class:"img-circle"%></p>
            <p class="large mt"><b><%= @user.name %></b></p>
            <div class="row">








              <div class="col-md-4" style="margin-top:20px">

                <% if @user == current_user %>

                    <%= link_to 'Editar perfil', edit_user_path(@user) %>

                <% else %>

                    <div id="friendship">

                      <% if current_user.is_friend_with?(@user) %>

                          <%= render 'destroy_friendship' %>

                      <% elsif current_user.invited?(@user) %>

                          <%= render 'cancel_invitation' %>

                      <% elsif current_user.invited_by?(@user) %>

                          <%= render 'accept_invitation' %>

                      <% else %>

                          <%= render 'request_friendship' %>

                      <% end %>

                    </div>

                <% end %>



                <!--<button tpe="button" class="btn btn-theme"><i class="fa fa-plus"></i> Adicionar amigo</button>-->
              </div>












              <div class="col-md-4 ds" style="">
                <!-- USERS ONLINE SECTION -->
                <h3 style="border-radius:10px">AMIGOS</h3>
                <!-- First Member -->
                <div class="desc">
                  <div class="thumb">
                    <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                  </div>
                  <div class="details">
                    <p><a href="#">DIVYA MANIAN</a><br/>
                      <muted>Available</muted>
                    </p>
                  </div>
                </div>
                <!-- Second Member -->
                <div class="desc">
                  <div class="thumb">
                    <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                  </div>
                  <div class="details">
                    <p><a href="#">DJ SHERMAN</a><br/>
                      <muted>I am Busy</muted>
                    </p>
                  </div>
                </div>





              </div>










              <div class="col-md-4" style="margin-top:20px">
                <p class="small mt">TOTAL SPEND</p>
                <p>$ 47,60</p>
              </div>




            </div>
          </div>
        </div><!-- /col-md-4 -->




      </div>
    </div>
  </div>


  <% if @user.id == current_user.id || current_user.is_friend_with?(@user) %>
      <%= render partial: 'posts', locals: {posts: @posts} %>
  <% end %>

  <%= link_to 'Grupos', user_groups_path(@user), class: 'btn btn-primary' %>

</section>




































<h1><%= @user.name %></h1>


<p>Email: <%= @user.email %></p>
<% if @user.profile_picture? %>
    <p><%= image_tag @user.profile_picture.url, height: 100 %></p>
<% end %>

<div id="messages"></div>

<% if @user == current_user %>

    <%= link_to 'Editar perfil', edit_user_path(@user) %>

<% else %>

    <div id="friendship">

      <% if current_user.is_friend_with?(@user) %>

          <%= render 'destroy_friendship' %>

      <% elsif current_user.invited?(@user) %>

          <%= render 'cancel_invitation' %>

      <% elsif current_user.invited_by?(@user) %>

          <%= render 'accept_invitation' %>

      <% else %>

          <%= render 'request_friendship' %>

      <% end %>

    </div>

<% end %>

<%= render partial: 'users/friends', locals: {user: @user} %>

<h3>Publicações</h3>

<% if @user.id == current_user.id || current_user.is_friend_with?(@user) %>
    <%= render partial: 'posts', locals: {posts: @posts} %>
<% end %>

