<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>
<% if @user.profile_picture? %>
    <p><%= image_tag @user.profile_picture.url, height: 100 %></p>
<% end %>

<div id="messages"></div>

<% if @user == current_user %>

    <%= link_to 'Editar perfil', edit_user_path(@user) %>

<% else %>

    <div id="friendship">

      <% if current_user.is_friend_with?(@user) %>

          <%= render 'destroy_friendship' %>

      <% elsif current_user.invited?(@user) %>

          <%= render 'cancel_invitation' %>

      <% elsif current_user.invited_by?(@user) %>

          <%= render 'accept_invitation' %>

      <% else %>

          <%= render 'request_friendship' %>

      <% end %>

    </div>

<% end %>

<%= render partial: 'users/friends', locals: {user: @user} %>

<h3>Publicações</h3>

<% if @user.id == current_user.id || current_user.is_friend_with?(@user) %>
    <%= render partial: 'posts', locals: {posts: @posts} %>
<% end %>