<section class="wrapper site-min-height" style="margin-top: -10px;">


  <div class="row mt">
    <div class="col-lg-12">

      <! -- 1st ROW OF PANELS -->
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 mb">
          <!-- WHITE PANEL - TOP USER -->
          <div class="white-panel pn">
            <div class="white-header">

            </div>

            <p>
              <%= image_tag @user.profile_picture.url, height: 100, class: 'img-circle' %>
            </p>

            <p class="large mt">
              <b><%= @user.name %></b>
            </p>

            <div class="row">

              <div class="col-md-4" style="margin-top:20px">

                <% if @user == current_user %>
                    <%= link_to 'Editar perfil', edit_user_path(@user), class:'btn btn-primary' %>
                <% else %>

                    <div id="friendship">

                      <% if current_user.is_friend_with?(@user) %>

                          <%= render 'destroy_friendship' %>

                      <% elsif current_user.invited?(@user) %>

                          <%= render 'cancel_invitation' %>

                      <% elsif current_user.invited_by?(@user) %>

                          <%= render 'accept_invitation' %>

                      <% else %>

                          <%= render 'request_friendship' %>

                      <% end %>

                    </div>

                <% end %>

              </div>


              <div class="col-md-4 ds" style="">

                <!-- USERS ONLINE SECTION -->

                <h3 style="border-radius:10px"><%=link_to "AMIGOS", friends_user_path(@user), style:'color:#fff'%></h3>






                <%
                  friends = @user.friends.limit(2)
                  if friends.any?
                  friends.each do |friend|%>

                <!-- First Member -->
                <div class="desc">
                  <div class="thumb">
                    <%= image_tag friend.profile_picture_url, height: 35, class:'img-circle' %>


                  </div>
                  <div class="details">
                    <%= link_to friend.name, user_path(friend)%>
                    <p><a href="#"></a><br/>
                      <muted>visitar perfil</muted>
                    </p>
                  </div>
                </div>

                <%
                  end
                  end
                %>




              </div>

              <div class="col-md-4" style="margin-top:20px">
                <p class="small mt">TOTAL SPEND</p>
                <p>$ 47,60</p>
              </div>

            </div>

          </div>

        </div><!-- /col-md-4 -->

      </div>

    </div>

  </div>




      <% if @user.id == current_user.id || current_user.is_friend_with?(@user) %>
          <%= render partial: 'posts', locals: {posts: @posts} %>
      <% end %>




</section>






<h3>Grupos</h3>

<%= link_to 'Grupos', user_groups_path(@user), class: 'btn btn-primary' %>



<% if current_user.admin? && current_user.id != @user.id %>
    <%= link_to 'Excluir Usuário', user_path(@user), method: :delete, class: 'btn btn-danger', data: {confirm: 'O usuário será excluído. Deseja prosseguir?'} %>
<% end %>
