<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-login'}) do |f| %>

    <h2 class="form-login-heading">Entrar Agora</h2>

    <!--Login Form-->
    <div class="login-wrap">

      <%= render 'layouts/flash_error' %>
      <%= render 'layouts/flash_success' %>

      <%= f.email_field :email, placeholder: 'Email', class: 'form-control', autofocus: true, required: true %>

      <br />

      <%= f.password_field :password, class: 'form-control', placeholder: 'Senha', autocomplete: "off", required: true %>

      <label class="checkbox">
          <span class="pull-right" style="margin-bottom: 8px">
            <a data-toggle="modal" href="login.html#myModal"> Esqueceu a senha?</a>
          </span>
      </label>

      <%= button_tag type: 'submit', class: 'btn btn-theme btn-block' do %>
          <i class="fa fa-lock"></i>
          ENTRAR
      <% end %>

      <hr>

      <div class="registration">
        Não possui uma conta?
        <br/>
        <%= link_to 'Crie uma conta', new_user_registration_path %>
      </div>

    </div>

<% end %>

<%= render 'devise/modal_forgot_password' %>