<div class="col-lg-4 col-md-4 col-sm-4 mb">

  <div class="twitter-panel pn">

    <div class="btn-group" style="float:right;">
      <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>



    <%= image_tag post.user.profile_picture_url, height: 50, class:'img-circle'%>
    <p class="user"><%= post.user.name%></p>
    <p class="infos"><a href="<%= post_url(post) %>"><%= l(post.created_at, format: :short) %></a></p>
    <p><%= post.title%></p>

  </div>

</div><!-- /col-md-4 -->


<div class="post" data-id="<%= post.id %>" style="margin: 50px 0">

  <div class="publisher">

    <%= image_tag post.user.profile_picture_url, height: 50 %>
    <strong><%= link_to post.user.name, user_path(post.user) %></strong>

  </div>

  <div class="info">

    <span><%= l(post.created_at, format: :short) %> - </span>
    <span class="post-title"><%= post.title %></span>
    <sub><%= link_to 'Visualizar', post_path(post) %></sub>

    <div>
      <% post.images.each do |image| %>
          <%= image_tag image.image.url, size: '100x100', style: 'object-fit: cover;' %>
      <% end %>
    </div>

    <% if post.belongs_to?(current_user) %>
        <%= form_for post, url: post_path(post), method: :patch, html: {class: 'hidden'}, remote: true do |f| %>
            <%= f.text_area :title %>
            <%= f.submit 'Salvar', class: 'btn btn-success btn-xs' %>
            <span class="btn btn-xs btn-warning btn-post-cancel-edit">Cancelar</span>
        <% end %>
    <% end %>

  </div>

  <% if post.belongs_to?(current_user) %>

      <div class="options">

        <span>
          <span class="btn btn-xs btn-primary btn-post-edit" data-id="<%= post.id %>">
            <i class="glyphicon glyphicon-pencil"></i>
            Editar
          </span>
        </span>

        <span>
          <%= link_to post_path(post),
                      method: :delete,
                      class: 'btn btn-xs btn-danger',
                      data: {
                          confirm: 'O post será excluído. Deseja prosseguir?'
                      },
                      remote: remote_delete do %>
              <i class="glyphicon glyphicon-remove"></i>
              Excluir
          <% end %>
        </span>

      </div>

  <% end %>

  <!--Likes-->
  <div class="likes">
    <%= render partial: 'likes/likes', locals: {post: post} %>
  </div>

  <!--Comments-->
  <h6>Comentários (<span class="comments-count"><%= post.comments.count %></span>)</h6>

  <% comments = post.comments.order(created_at: :desc) %>
  <% comments = comments.limit(5) unless all_comments %>
  <%= render partial: 'comments/comments', locals: {comments: comments, post_id: post.id} %>

  <% unless all_comments %>
      <span><%= link_to 'Ver todos', post_path(post) %></span>
  <% end %>

  <%= render partial: 'comments/create_comment', locals: {post: post} %>

</div>