<aside>

  <div id="sidebar"  class="nav-collapse ">

    <ul class="sidebar-menu" id="nav-accordion">

      <p class="centered">
        <%= link_to home_path do %>
            <%= image_tag current_user.profile_picture, class: 'img-circle', width: 60 %>
        <% end %>
      </p>

      <h5 class="centered"><%= current_user.short_name %></h5>

      <li class="mt">
        <%= link_to home_path do %>
            <i class="fa fa-home"></i>
            <span>Início</span>
        <% end %>
      </li>

      <li>
        <%= link_to user_path(current_user) do %>
            <i class="fa fa-user"></i>
            <span>Perfil</span>
        <% end %>
      </li>

      <li>
        <%= link_to settings_path do %>
            <i class="fa fa-gear"></i>
            <span>Configurações</span>
        <% end %>
      </li>

    </ul>

  </div>

</aside>