<aside>

  <div id="sidebar"  class="nav-collapse ">

    <ul class="sidebar-menu" id="nav-accordion">

      <p class="centered">
        <%= link_to home_path do %>
            <%= image_tag current_user.profile_picture, class: 'img-circle', width: 60 %>
        <% end %>
      </p>

      <h5 class="centered">
        <%= current_user.short_name %>
      </h5>

      <% if current_user.admin? %>
          <h6 class="centered">Administrador</h6>
      <% end %>

      <li class="mt">
        <%= link_to home_path do %>
            <i class="fa fa-home"></i>
            <span>Início</span>
        <% end %>
      </li>

      <li>
        <%= link_to user_path(current_user) do %>
            <i class="fa fa-user"></i>
            <span>Perfil</span>
        <% end %>
      </li>

      <li>
        <%= link_to friends_user_path(current_user) do %>
            <i class="fa fa-users"></i>
            <span>Amigos</span>
        <% end %>
      </li>

      <% if current_user.admin? %>
          <li>
            <%= link_to reports_path do %>
                <i class="fa fa-archive"></i>
                <span>Reports</span>
            <% end %>
          </li>
      <% end %>

      <li>
        <%= link_to settings_path do %>
            <i class="fa fa-gear"></i>
            <span>Configurações</span>
        <% end %>
      </li>

    </ul>

  </div>

</aside>