<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

  <title>Olavius</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'template/Chart' %>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<section id="container" >

  <%= render 'layouts/header' %>

  <%= render 'layouts/side_menu' %>

  <section id="main-content">

    <section class="wrapper">

      <div class="row">

        <%= yield %>

      </div>

    </section>

  </section>

  <%= render 'layouts/footer' %>

</section>

<%= javascript_include_tag 'application.js' %>

</body>

</html>

